# Ignore node_modules directory and all its contents
node_modules
node_modules/**

# Ignore client directory and all its contents
client
client/**

# Ignore extension directory and all its contents
extension
extension/**

# Other directories to ignore
venv
venv/**
scripts
scripts/**
test
test/**
__tests__
__tests__/**

# Ignore git directory
.git
.git/**

# Ignore specific file types or patterns
*.md
.env*
npm-debug.log

# Ignore all hidden files and directories
.*

# Exceptions (files you want to include despite the above rules)
!.gcloudignore
!.dockerignore