#plasmo-google-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 2147483647;
  transition: all 0.5s ease;
}

:root {
  --plasmo-google-sidebar-width: 400px;
}

body.plasmo-google-sidebar-show {
  margin-right: var(--plasmo-google-sidebar-width);
}

#sidebar {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #ffffff;
  width: var(--plasmo-google-sidebar-width);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  transition: all 0.5s ease;
}

#sidebar.open {
  right: calc(var(--plasmo-google-sidebar-width) * -1);
}

#sidebar.closed {
  right: 0;
}

.sidebar-toggle {
  position: fixed;
  right: 4.7px;
  bottom: 47px;
  z-index: 2147483647;
}

#sidebar span {
  margin: 0;
}

#sidebar img {
  margin: 0;
}

#sidebar iframe {
  margin: 0;
  padding: 0;
  flex-grow: 1;
  width: 100%;
  height: auto;
}
