:root,
#plasmo-google-sidebar:host {
  --plasmo-google-sidebar-width: 420px;
}

body.plasmo-google-sidebar-show,
body.plasmo-google-sidebar-show * {
  max-width: calc(100vw - var(--plasmo-google-sidebar-width));
}

#plasmo-google-sidebar {
  position: fixed;
  z-index: 240;
  top: 0px;
  right: 0px;
}

#sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

#sidebar span {
  margin: 0;
}

#sidebar img {
  margin: 0;
}

#sidebar iframe {
  margin: 0;
  padding: 0;
  flex-grow: 1;
  width: 100%;
  height: auto;
}
